@import '../../containers/index';

.search-area {
  margin-left: auto;
  margin-right: auto;
  margin-top: 36px;
  max-width: $app-width;

  .not-found-label {
    @extend %label-shared;
    
    display: block;
    margin-top: 14px;
  }
}