// _index.scss

@font-face {
  font-family: "Brown Bold";
  src: url("/assets/fonts/lineto-brown-bold.ttf");
}

@font-face {
  font-family: "Brown Light";
  src: url("/assets/fonts/lineto-brown-light.ttf");
}

@font-face {
  font-family: "Brown Regular";
  src: url("/assets/fonts/lineto-brown-regular.ttf");
}

@font-face {
  font-family: "CoHeadline Bold";
  src: url("/assets/fonts/Co Headline Corp Bold.ttf");
}

$app-width: 620px;
$font-color: #404040;

body {
  font-size: 18.5px;
  margin: 0;
  min-height: 100vh;
  height: auto;
  background: white;
}

%label-shared {
  font-family: "Brown Light", serif;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $font-color;
}

.app-label {
  @extend %label-shared;
}

.action-button {
  vertical-align: middle;
  text-align: center;
  margin-top: 22px;
  margin-bottom: 60px;
  max-width: 400px;
  height: 80px;
  line-height: 80px;
  background: #6c757d;
  border-radius: 90px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-family: "Brown Bold", serif;
  cursor: pointer;
}
