@import "../../containers/index";

.period-area {
  margin-left: auto;
  margin-right: auto;
  margin-top: 62px;
  max-width: $app-width;

  .period-selector {
    text-align: left;
    width: 100%;

    &__label--bold {
      font-family: "Brown Bold", serif;
    }
  }

  div.period-selector .btn {
    width: 100%;
    margin-top: 10px;
  }
}
