.address-item-area {
  margin-top: 36px;
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: center;
  text-align: left;
  background: rgba(204, 204, 204, 0.25);
  padding: 15px
}