@import '../../containers/index';

.address-area {
  margin-left: auto;
  margin-right: auto;
  max-width: $app-width;
  display: flex;
  flex-direction: column;

  .chevron-group {
    margin-top: 24px;
    margin-bottom: 28px;
    width: 100%;

    &__chevron {
      height: 10px;
      position: relative;
      vertical-align: middle;
      text-align: center;

      &:before, &:after {
        content: "";
        position: absolute;
        pointer-events: none;
      }

      &:after {
        content: url("/assets/images/down-chevron-icon.svg");
        height: 10px;
        width: 16px;
        margin-left: -8px;
      }

      &:nth-child(1) {
        animation: chevron-animation 1s infinite alternate;
        animation-delay: 0.5s
      }

      &:nth-child(2) {
        animation: chevron-animation 1s infinite alternate;
      }
    }
  }
}

@keyframes chevron-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}