@import '../../containers/index';

.info-area {
  margin-top: 76px;
  max-width: $app-width;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  &:after {
    margin-top: 32px;
    width: 100%;
    height: 0px;
    border: 3px solid rgba(40, 40, 40, 0.2);
    border-radius: 3px;
    display: block;
    content: "";
    background: rgba(40, 40, 40, 0.2);
  }

  &__title {
    font-family: 'CoHeadline Bold', serif !important;
    font-size: 42.5px;
    display: block;
    margin-bottom: 34px;
  }
}